nav{
  
  color:white;
  padding:20px;
  background-color: black;
  font-weight: lighter  ;

}
button{
    
    margin-bottom: 70px;
    padding:10px;
    color:white;
    
    border-color: aqua;
    background-color: black;
}
h1{
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
}
p{
    font-weight:lighter;
}